<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans|Song+Myung&display=swap" rel="stylesheet">
    <title>GuestBook</title>
</head>
<script type="text/javascript"> 
    var cnt=1;

    function TodayDate(){
        let data= new Date();
        return data.getFullYear().toString()+'-' + (data.getMonth()+1).toString()+'-' + data.getDate().toString()
    }
    document.getElementById('today').innerHTML = '<input type="date" name="Data" value="'+TodayDate()+'" ><br>';

  </script>
<body>
    <div class="container">
    <br>
    <div style="border-bottom: gray dotted 1px; text-align:center; letter-spacing : 1em; font-family: 'Black Han Sans', sans-serif;
    "><h1>동방 방명록</h1></div>
    <br><br>
    <form action="{%url 'submitt'%}">
            <div class="form-group">
              <label for="exampleInputEmail1">Message</label>
              <input type="text" class="form-control" id="exampleInputEmail1" name="message" placeholder="Enter Message">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Name</label>
              <input type="text" class="form-control" id="exampleInputPassword1" name="pub_person" placeholder="Your Name">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Date</label>
                <input type="date" class="form-control" id="exampleInputEmail1" id="today" name="pub_date">
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>

        <div class="container">
          <br><br>       
          <table class="table table-striped">
              <thead>
                <tr>
                
                  <th scope="col">#</th>
                  <th scope="col">Message</th>
                  <th scope="col">Name</th>
                  <th scope="col">Date</th>
                </tr>
              </thead>
              <tbody>
                {%for i in books.all%}
                <tr>
                  <th scope="row"> 
                    <script> document.write(cnt++);</script> 
                  </th>
                  <td>{{i.message}}</td>
                  <td>{{i.pub_person}}</td>
                  <td> {{i.pub_date}}</td>
                </tr>
                {%endfor%}
              </tbody>
            </table>

        </div>
    
</body>

</html>